<div class="options">
  <div class="options-user">
    <div *ngIf="authentication.isLoggedIn.value" class="options-user-status">
      <div class="options-user-status-avatar"
        [style.backgroundImage]="'url(' + authentication.user.value.photoUrl + ')'"></div>
      <div class="options-user-status-name">
        <div class="name">{{ authentication.user.value.name }}</div>
        <div class="email">{{ authentication.user.value.email }}</div>
      </div>
    </div>
    <div class="options-user-navigation">
      <button mat-icon-button mat-raised-button (click)="onLogout()" [matTooltip]="'common.logout' | translate">
        <fa-icon [icon]="['fas', 'user-alt-slash']"></fa-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <app-change-language></app-change-language>
  </mat-dialog-content>

</div>
