.options {
    .mat-subheader {
        padding: unset;
    }

    &-user {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;

        &-status {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            padding-right: 2em;

            &-name {
                .name {
                    font-size: 1.4em;
                    font-weight: 500;
                }

                .email {
                    font-size: 0.8em;
                    font-weight: 300;
                    opacity: 0.7;
                }
            }

            &-avatar {
                background-size: cover;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0em 0.4em 0em 0em;
                display: inline-block;
            }

            &-name {
                display: inline-block;
            }
        }

        &-navigation {
            &-login {
                padding-right: 0.3em;
            }
        }
    }
}

.mat-list {
    .mat-list-item:first-of-type {
        margin-top: -0.8em;
    }
}