.rooms-list {

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-flow: wrap;

        .join {
            height: 3.9em;
            display: flex;
            margin-right: 0.6em;

            .form-field {
                min-width: 1%;
                flex-grow: 1;
            }

            .button {
                margin-left: 0.5em;
            }
        }

        .create-and-options {
            .button {
                margin-right: 0.5em;
                margin-bottom: 0.4em;

                &:last-of-type {
                    margin-right: 0em;
                }
            }
        }

        .button {
            margin-top: 0.2em;
            line-height: 3.7em;
            vertical-align: top;
        }

        @media screen and (max-width: 530px) {

            .join {
                width: 100%;
                margin-bottom: 0.4em;
                margin-right: 0em;
            }

            .create-and-options {
                width: 100%;

                .button {
                    width: 100%;
                    line-height: 3.1em;
                }
            }
        }
    }

    &-table {
        width: 100%;

        .mat-header-row {
            height: 2.6em;
        }

        .mat-header-cell,
        .mat-cell {
            padding: 0.2em 0.7em;
            vertical-align: middle;
        }

        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
            padding-left: 1.5em;
        }

        .mat-header-cell:last-of-type,
        .mat-cell:last-of-type {
            padding-right: 1.5em;
        }

        .mat-column-players {
            min-width: 6em;
        }

        .cell-actions {
            line-height: 3.3em;
        }

        .cell-roomId {
            font-family: monospace;
        }

        .cell-players {
            max-width: 19em;
        }

        .cell-lastTimeActive {
            min-width: 6em;
        }
    }
}