<div class="rooms-list">
  <mat-card>
    <mat-card-content>
      <div class="rooms-list-nav">
        <div class="join">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>{{ 'rooms-list.join-to-room.label' | translate }}</mat-label>
            <input [placeholder]="'rooms-list.join-to-room.placeholder' | translate" matInput [(ngModel)]="joinToRoom">
          </mat-form-field>
          <button class="button" (click)="onJoinRoom()" mat-raised-button>
            <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
          </button>
        </div>
        <div class="create-and-options">
          <button class="button" mat-raised-button (click)="onGlobalOptionsOpen()">
            {{ 'rooms-list.global-options' | translate }}
          </button>
          <button class="button" (click)="onCreateRoom()" mat-raised-button color="primary">
            {{ 'rooms-list.new-room' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>

    <mat-card-title *ngIf="!this.roomsListDataLoaded" class="title">
      <fa-icon [icon]="['fas', 'info-circle']" class="title-info icon"></fa-icon>
      <div class="title-info header">{{ 'rooms-list.loading-rooms' | translate }}</div>
    </mat-card-title>

    <mat-card-title *ngIf="this.roomsListDataLoaded && roomsListDataSource.data.length == 0" class="title">
      <fa-icon [icon]="['fas', 'info-circle']" class="title-info icon"></fa-icon>
      <div class="title-info header">{{ 'rooms-list.no-rooms' | translate }}</div>
    </mat-card-title>

    <mat-card-content [ngClass]="{'hidden': !this.roomsListDataLoaded || roomsListDataSource.data.length == 0}">
      <div class="mat-elevation">
        <div class="responsive-scroll-x">
          <mat-table class="rooms-list-table" [dataSource]="roomsListDataSource">

            <ng-container matColumnDef="locked">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell class="cell-locked text-center" *matCellDef="let room">
                <fa-icon *ngIf="room.locked" [icon]="['fas', 'lock']"
                  [matTooltip]="'rooms-list.table.locked-tooltip' | translate">
                </fa-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell class="cell-actions" *matCellDef="let room">
                <button class="button" (click)="onJoinRoom(room)" color="primary" mat-raised-button
                  [disabled]="!possibleToJoin(room)">
                  <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="roomId">
              <th mat-header-cell *matHeaderCellDef>{{ 'rooms-list.table.room-name' | translate }}</th>
              <td mat-cell class="cell-roomId" *matCellDef="let room"> {{ room.roomId }} </td>
            </ng-container>

            <ng-container matColumnDef="lastTimeActive">
              <th mat-header-cell *matHeaderCellDef>{{ 'rooms-list.table.last-time-active.label' | translate }}</th>
              <td mat-cell class="cell-lastTimeActive" *matCellDef="let room">
                {{ 'rooms-list.table.last-time-active.values.' + room.lastTimeActive | translate }}
              </td>
            </ng-container>

            <ng-container matColumnDef="players">
              <th mat-header-cell *matHeaderCellDef>{{ 'rooms-list.table.players' | translate }}</th>
              <td mat-cell class="cell-players" *matCellDef="let room">
                <app-players-list [room]="room"></app-players-list>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </mat-table>
        </div>
        <mat-paginator #paginatorRef [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>

  </mat-card>
</div>
