<button mat-raised-button class="minesweeper-field" [ngClass]="{
  'mat-raised-disabled': isDisabled(), 
  'mat-raised-focus-disabled': isFocusDisabled()
}">
  <ng-template [ngIf]="displayIcon" [ngIfElse]="displayValue">
    <fa-icon [icon]="icon"></fa-icon>
  </ng-template>
  <ng-template #displayValue>
    {{ value }}
  </ng-template>
</button>
