<mat-form-field class="change-language">
  <mat-label i18n="Language label">Language</mat-label>
  <mat-select [(ngModel)]="language" (ngModelChange)="onLanguageChange($event)">
    <mat-option *ngFor="let lang of languages" [value]="lang.code">
      {{lang.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
