<mat-card class="login">
  <mat-card-title class="title">
    <fa-icon [icon]="['fas', 'bomb']" class="title-info icon"></fa-icon>
    <div class="title-info header">{{ 'login.name' | translate }}</div>
    <div class="title-info description">{{ 'login.title' | translate }}</div>
  </mat-card-title>

  <mat-card-content class="login-buttons">
    <button (click)="onLoginWithGoogle()" mat-raised-button color="primary">
      Google
    </button>
    <button (click)="onLoginWithFacebook()" mat-raised-button color="primary">
      Facebook
    </button>
    <button (click)="onLoginWithAnonumys()" mat-raised-button>
      {{ 'login.anonymously' | translate }}
    </button>
  </mat-card-content>
</mat-card>
