.login {
    max-width: 20em;

    &-buttons {
        margin-top: 2em;

        button {
            width: 100%;

            &:not(:last-of-type) {
                margin-bottom: 0.8em;
            }
        }
    }
}