<mat-card class="minesweeper">

  <mat-card-title class="title" *ngIf="error; else gameLoaded">
    <fa-icon [icon]="['fas', 'info-circle']" class="title-info icon"></fa-icon>
    <div class="title-info header">{{ 'minesweeper.game-load-error-title' | translate }}</div>
    <div class="title-info description">{{ 'minesweeper.game-load-error-description' | translate }}</div>
  </mat-card-title>

  <ng-template #gameLoaded>
    <div *ngIf="room && game && isGameWon()" class="game-end win">
      <span *ngFor="let letter of ('minesweeper.win' | translate).split('')">{{ letter }}</span>
    </div>
    <div *ngIf="room && game && isGameLost()" class="game-end lost">
      <span *ngFor="let letter of ('minesweeper.lost' | translate).split('')">{{ letter }}</span>
    </div>

    <mat-card-content *ngIf="room && game">
      <app-share-room [roomId]="roomId"></app-share-room>
    </mat-card-content>

    <mat-card-title class="minesweeper-nav" *ngIf="room && game">
      <div class="minesweeper-nav-center minesweeper-nav-mines" [matTooltip]="'minesweeper.mines-left' | translate">
        <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
        <span class="minesweeper-nav-mines-value">
          {{ countMinesLeftToMark() }}
        </span>
      </div>
      <div class="minesweeper-nav-center minesweeper-nav-menu">
        <button mat-icon-button mat-raised-button (click)="onGameReset()" class="minesweeper-nav-round-button"
          [matTooltip]="'minesweeper.reset-game' | translate">
          <fa-icon [icon]="['far', 'smile']"></fa-icon>
        </button>
        <button mat-icon-button mat-raised-button (click)="onOpenOptions()" class="minesweeper-nav-round-button"
          [matTooltip]="'minesweeper.settings' | translate">
          <fa-icon [icon]="['fas', 'cog']"></fa-icon>
        </button>
      </div>
      <div class="minesweeper-nav-center minesweeper-nav-timer" [matTooltip]="'minesweeper.timer' | translate">
        <span class="minesweeper-nav-timer-value">
          {{ timerValue }}
        </span>
        <fa-icon [icon]="['far', 'clock']"></fa-icon>
      </div>
    </mat-card-title>

    <mat-card-title class="title" *ngIf="room && !game">
      <fa-icon [icon]="['fas', 'info-circle']" class="title-info icon"></fa-icon>
      <div class="title-info header">{{ 'minesweeper.game-loading-description' | translate }}</div>
    </mat-card-title>

    <mat-card-content *ngIf="room && game">
      <app-minesweeper-board *ngIf="room && game" [game]="game" [gameRef]="gameRef" (onUpdateGame)="onUpdateGame()">
      </app-minesweeper-board>
      <app-players-list class="minesweeper-players-list" [room]="room"></app-players-list>
    </mat-card-content>
  </ng-template>
</mat-card>
