.minesweeper {
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-center {
            display: flex;
            align-items: center;

            button {
                font-size: 1em;
            }
        }

        &-mines {
            padding-left: 0.1em;

            &-value {
                min-width: 2em;
            }
        }

        &-timer {
            &-value {
                min-width: 2.3em;
                text-align: right;
                padding-right: 0.1em;
            }
        }

        &-round-button {
            margin: 0.1em 0.2em;
        }
    }

    &-players-list {
        margin: 0.5em 0.2em;
        display: block;
    }
}

.game-end {
    position: fixed;
    bottom: 0.8em;
    right: 0.4em;
    font-size: 6em;
    font-weight: 900;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
        font-size: 4em;
    }

    @media screen and (max-width: 375px) {
        font-size: 2.5em;
    }

    &.win {
        color: #63c979;
    }

    &.lost {
        color: #cf6357;
    }

    & span {
        position: relative;
        top: 0.3em;
        display: inline-block;
        animation: bounce 0.3s ease infinite alternate;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
            0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
            0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);

        &:nth-child(1n) {
            animation-delay: 0.1s;
        }

        &:nth-child(2n) {
            animation-delay: 0.2s;
        }

        &:nth-child(3n) {
            animation-delay: 0.3s;
        }

        &:nth-child(4n) {
            animation-delay: 0.4s;
        }

        &:nth-child(5n) {
            animation-delay: 0.5s;
        }

        &:nth-child(6n) {
            animation-delay: 0.6s;
        }
    }

    @keyframes bounce {
        100% {
            top: -0.6em;
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
                0 50px 25px rgba(0, 0, 0, 0.2);
        }
    }
}