<div class="share-room">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>{{ 'share-room.label' | translate }}</mat-label>
    <input #inputRoomRef matInput [(ngModel)]="roomId" readonly>
  </mat-form-field>
  <button class="button" (click)="onCopyRoom()" mat-raised-button
    [matTooltip]="'share-room.copy-room-name' | translate">
    <fa-icon [icon]="['far', 'copy']"></fa-icon>
  </button>
  <button class="button share" (click)="onShareRoom()" mat-raised-button
    [matTooltip]="'share-room.copy-room-link' | translate">
    <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
    <input class="off-screen" #shareInputRoomRef [(ngModel)]="shareInputRoom" readonly>
  </button>
</div>
