.share-room {
    text-align: center;

    .form-field {
        margin-bottom: -1.3em;
        @media screen and (max-width: 380px) {
            width: 8em;
        }
    }

    .button {
        margin-top: 0.2em;
        line-height: 3.7em;
        vertical-align: top;
        margin-left: 0.5em;
    }

    .off-screen {
        position: absolute;
        top: -9999em;
        left: -9999em;
        z-index: -9999;
    }
}