<div class="options">
  <div class="options-user">
    <div *ngIf="authentication.isLoggedIn.value" class="options-user-status">
      <div class="options-user-status-avatar"
        [style.backgroundImage]="'url(' + authentication.user.value.photoUrl + ')'"></div>
      <div class="options-user-status-name">
        <div class="name">{{ authentication.user.value.name }}</div>
        <div class="email">{{ authentication.user.value.email }}</div>
      </div>
    </div>
    <div class="options-user-navigation">
      <button mat-icon-button mat-raised-button (click)="onLogout()" [matTooltip]="'common.logout' | translate">
        <fa-icon [icon]="['fas', 'user-alt-slash']"></fa-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <mat-radio-group [(ngModel)]="difficultyChoosen">
      <mat-list role="list">
        <h4 class="mat-h4">{{ 'minesweeper-ingame-options.difficulty.label' | translate }}</h4>
        <mat-list-item role="listitem" *ngFor="let item of DIFFICULTY_SETS | keyvalue:byBoardSize">
          <mat-radio-button [value]="item.key">
            {{ 'minesweeper-ingame-options.difficulty.values.' + item.key | translate }}
          </mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-radio-group>

    <mat-list role="list" class="slide-toggle-margin">
      <h4 class="mat-h4">{{ 'minesweeper-ingame-options.privacy.label' | translate }}</h4>
      <mat-slide-toggle class="example-margin" [(ngModel)]="lockedChoosen">
        {{ 'minesweeper-ingame-options.privacy.toggle' | translate }}
      </mat-slide-toggle>
    </mat-list>

    <app-change-language></app-change-language>
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()"
      cdkFocusInitial>{{ 'common.save' | translate }}</button>
  </div>
</div>
