.players-list {
    .player {
        display: inline-block;
        margin: 0.2em;

        img {
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
        }
    }
}