@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.css/normalize.css";

html,
body {
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    margin-bottom: 1em;

    &-info {
        &.icon {
            font-size: 2.7em;
            display: inline-block;
            margin: 0.4em 0em 0.3em 0em;
        }

        &.header {
            font-weight: 200;
            margin-bottom: 0.5em;
        }

        &.description {
            font-weight: 400;
            font-size: 0.6em;
        }
    }
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

.responsive-scroll-x {
    width: 100%;
    overflow-x: auto;
}

.mat-card {
    max-width: calc(100vw - 32px);
}

.mat-slide-toggle {
    height: unset !important;

    &-content {
        white-space: normal !important;
    }
}

.mat-paginator-page-size {
    display: none !important;
}

.mat-paginator-range-label {
    margin: 0.2em 1.2em 0em !important;
    display: inline-block;
}

.mat-h4 {
    color: rgba(0, 0, 0, 0.54);
}

.mat-snack-bar-container {
    max-width: 26em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.mat-raised {
    &-disabled {
        color: rgba(0,0,0,.26);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important;
        background-color: rgba(0,0,0,.12) !important;
    }
    &-focus-disabled {
        .mat-button-ripple {
            display: none !important;
        }
    }
}