<mat-card class="generate-room">
  <mat-card-title class="title">
    <fa-icon [icon]="['fas', 'info-circle']" class="title-info icon"></fa-icon>
    <div class="title-info header">{{ 'generate-room.description' | translate }}</div>
  </mat-card-title>
</mat-card>
