<div class="responsive-scroll-x">
  <table class="board">
    <tr *ngFor="let row of game.board | keyvalue:keyOrder" class="board-row">
      <td *ngFor="let col of row.value | keyvalue:keyOrder" class="board-cell">
        <app-minesweeper-field [field]="col.value" [gameStatus]="game.status" appLongpress
          (onLongPress)="fieldLongClicked(row.key, col.key, $event)" (onPress)="fieldClicked(row.key, col.key, $event)">
        </app-minesweeper-field>
      </td>
    </tr>
  </table>
</div>
